body {
    background-color: rgb(201, 153, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center
    
  }

#odin-recipe {
    background-color: rgb(201, 153, 65);
    color: black;
    text-align: center;
    margin: auto;
    height: 3cm;
    font-weight: bold;
    font-family: Courier, monospace;
    text-decoration:overline;
    
}

.main-page {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #2f4d2a;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(201, 153, 65);
   
  }

  #bacon a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #potato a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #crub a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .header img {
    clip-path: circle();
    width: auto;
    height: 450px;
    margin: 10px 10px 10px 10px;
    }

  .header h1,
  .ingredients h1,
  .description h1,
  .steps h1 {
    font-style: normal;
    color: #2f4d2a;
    padding: 3px;
    border: 3px;
    margin: 10px;
    border-color: white;
    border-style: dotted;
  }

  .steps ol,
  .ingredients ul,
  .description p {
    font-weight: 350;
    color: #492d21;
    font-size: large;
    }

.description p {
  margin: 15px;
}

.ingredients ul,
.steps ol {
  padding-left: 0;
} 

ul li,
ol li {
 list-style-position: inside;
  }

  ol > li::marker {
    font-weight: bold;
  }